* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(216, 50%, 16%);
  padding: 1rem;
  width: 18rem;
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 20px 0px 20px hsla(216, 66%, 8%, 0.494);
}
@media (max-width: 23.75rem) {
  .body {
    width: 14rem;
  }
}
.equiLImg {
  width: 18rem;
  height: 18rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: url(images/image-equilibrium.jpg);
  background-size: contain;
}

.equiLImg:hover {
  background: linear-gradient(
      hsla(178, 100%, 50%, 0.501),
      hsla(178, 100%, 50%, 0.492)
    ),
    url(images/image-equilibrium.jpg);
  opacity: 3;
  background-size: contain;
  transition: all 5s;
}
@media (max-width: 23.75rem) {
  .equiLImg {
    height: 14rem;
    width: 14rem;
  }
}

.title {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
}
.title:hover {
  color: hsl(178, 100%, 50%);
}
.para {
  color: hsl(215, 51%, 70%);
  font-size: 1.1rem;
  font-weight: 300;
}
.eth {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 700;
}
.eye {
  display: none;
  position: absolute;
  top: 0rem;
}

.equiLImg:hover .eye {
  display: flex;
  justify-content: center;
  left: 9rem;
  top: 8.5rem;
}
h6 {
  color: hsl(178, 100%, 50%);
  font-size: 1rem;
  font-weight: 700;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.clocks {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  font-weight: 300;
}
.clock {
  width: 1rem;
  height: 1rem;
}

hr {
  /* border: none; */
  border-bottom: 0.1rem;
  outline: none;
  border-color: hsla(215, 52%, 70%, 0.464);
}

.info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

h3 {
  color: hsl(215, 51%, 70%);
  font-size: 1rem;
  cursor: pointer;
}
.gcolor {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}
.gcolor:hover {
  color: hsl(178, 100%, 50%);
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  outline: 0.1rem solid hsl(0, 0%, 100%);
}
